* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Poppins;
    height: 500vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
  a{
    text-decoration: none;
  }
  
  /* ----------------------------------INDEX--------------------------------- */
  
  #hero-section {
    background: linear-gradient(
      to bottom,
      #10002b,
      #240046,
      #3c096c,
      #5a189a,
      #7b2cbf,
      #9d4edd,
      #c77dff,
      #e0aaff,
      #ffffff
    );
    height: 200vh;
    width: 100%;
    color: white;
    z-index: 0;
  }
  
  /* ----------------------------------HEADER----------------------------------- */
  
  .header {
    display: flex;
    align-items: center;
    padding: 30px 150px;
    height: 10vh;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  
  #logo {
    font-size: 24px;
  }
  
  .nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: #240046;
  }
  
  .nav-links a {
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }

  /* -----------------------------------------------LEFT-MESSAGE---------------------------------- */
  .message-div {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  
  .left-message{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items:start;
  
  }
  
  #msg-principal {
    padding: 0px 100px 50px 150px; 
    font-size: 80px;
  }
  
  /* ---------------------------------CARDS--------------------------------------- */
  
  .card-animated-border {
    margin-left: 150px;
    background-color: #1c1f2b;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 70px;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s ease
  
  }
  
  .card-animated-border:hover{
    background-color: #272a36;
  }
  
  .card-animated-border h2 {
    color: white;
    font-size: 20px;
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .card-animated-border::after,
  .card-animated-border::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 20%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 1px;
    border-radius: 25px;
    /* o border radius tem que ser o mesmo do card */
    animation: 7s spin linear infinite;
  }
  
  .card-animated-border::before {
    filter: blur(1rem);
    opacity: 0.5;
  }
  
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  /* ---------------------------------RIGHT-MESSAGE-------------------------------------- */
  .right-message{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
  }
  
  .msg1{
    height: 400px;
    width: 600px;
    top: 0px;
    right: 120px;
    position: absolute;
  }
  
  .msg1 p, .msg2 p{
    font-size: 40px;
  }
  
  .msg2{
    height: 400px;
    width: 800px;
    top: 320px;
    left: 120px;
    position: absolute;
  }
  
  
  /* -----------------------------MAIS-----------------------------------
  */
  #mais-section{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  
  .sistema-inovador{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-height: 30vh;
    
  }
  
  .sistema-inovador h1{
    font-size: 40px;
  }
  
  .sistema-inovador p{
    font-size: 30px;
  }
  
  .atributos-inovador{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 50vh;
    margin: 100px;
  }
  .atributos-inovador div {
    display: contents; /* Remove a caixa de div para que img e p sejam tratados diretamente */
  }
  
  .atributos-inovador img{
    grid-row: 1;
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: end;
  }
  
  .atributos-inovador p {
    grid-row: 2; 
    justify-self: center;
    font-size: 25px;
    text-align: center;
    margin: 20px;
  }
  
  /* 
  ------------------------------------MAP------------------------------------------------------------- */
    #map {
    height: 80%;
    width: 100%;
  }
  
  #controls {
    height: 20%;
    padding: 10px;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    width: 300px;
  }
  
  button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  /* -------------------------------ANIMAÇÃO--------------------- */
  .hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(40%); 
    /* translateX -> -100% para vir da esquerda e 100% para vir da direita */
    transition: all 1.5s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  /* -------------------------------IMAGES-ANIMATION-------------------------- */
  
  #image-section{
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }
  
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
  }
  
  #image-track img{
    border-radius: 10px;
  }



/*ESTILOS DO LOGIN*/

.forms-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.form {
    display: flex;
    flex-direction: column;
}

.form h2 + p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}